#tab-content > div:after, .tab-content > div:after {
  content: "";
  display: table;
  clear: both; }

#tabs, .tabs {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }
  #tabs li, .tabs li {
    background: none;
    margin: 0 .3rem 0 0;
    padding: 0;
    display: inline;
    vertical-align: middle; }
    #tabs li:last-child, .tabs li:last-child {
      margin: 0; }
    #tabs li a, .tabs li a {
      font: 18px "Akkurat Pro Bold", "Arial Black", sans-serif;
      color: #836eaa;
      background: #e4e0ee;
      padding: .75rem 1.2rem .5rem 1.2rem;
      display: inline-block;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      #tabs li a:hover, .tabs li a:hover {
        text-decoration: none;
        background: #4e2a84;
        color: #fff; }
      #tabs li a.active, .tabs li a.active {
        background: #4e2a84;
        color: #fff; }

.content ul.tabs, .content-full ul.tabs {
  padding-left: 0; }

.content ul.tabs > li, .content-full ul.tabs > li {
  background: none;
  padding: 0; }

.standard-page #tabs, #standard-page .tabs {
  text-align: left; }

#tab-content, .tab-content {
  border-top: 3px solid #4e2a84;
  margin: 0 0 3rem 0;
  padding: 1rem 0 0 0; }
  #tab-content > div h3, .tab-content > div h3 {
    margin-top: 1rem; }
  #tab-content .row, .tab-content .row {
    border-bottom: 3px solid #f0f0f0;
    padding: 0 0 2rem 0; }
  #tab-content .responsive-table, .tab-content .responsive-table {
    margin-top: 0; }
  #tab-content .headings, .tab-content .headings {
    display: table-cell;
    width: 32.14286%;
    padding-right: 1rem; }
    #tab-content .headings h4, .tab-content .headings h4 {
      font: 30px "Campton Bold", Impact, sans-serif;
      color: #4e2a84; }
      #tab-content .headings h4 span, .tab-content .headings h4 span {
        display: block;
        color: #b6acd1; }
  #tab-content .contents, .tab-content .contents {
    display: table-cell;
    width: 66.07143%; }
    #tab-content .contents .callout, .tab-content .contents .callout {
      background: #836eaa;
      padding: .1rem 1rem;
      margin: 0 0 1rem 2rem;
      width: 266px;
      font: 24px "Campton Book", Tahoma, sans-serif;
      color: #fff;
      float: right; }
      #tab-content .contents .callout a, .tab-content .contents .callout a {
        text-decoration: underline;
        font-family: "Campton Book", Tahoma, sans-serif;
        color: #fff; }
      #tab-content .contents .callout h4, .tab-content .contents .callout h4 {
        font: 16px "Akkurat Pro Bold", "Arial Black", sans-serif;
        padding-top: 1rem;
        margin-bottom: 0;
        color: #fff; }
        #tab-content .contents .callout h4 + p, .tab-content .contents .callout h4 + p {
          margin: .5rem 0; }

@media screen and (max-width: 1150px) {
  #tabs li a, .tabs li a {
    font-size: 16px;
    margin-top: 5px; } }
@media screen and (max-width: 1000px) {
  .tab-left-side .img {
    float: none; } }
@media screen and (max-width: 850px) {
  #tab-content .contents .callout, .tab-content .contents .callout {
    float: none;
    margin: 1em 0 1em 0;
    width: 100%; } }
@media screen and (max-width: 550px) {
  #tabs li a {
    width: 100%;
    font-size: 18px; }

  #tab-content .headings, #tab-content .contents, .tab-content .headings, .tab-content .contents {
    width: 100%;
    display: block; }
    #tab-content .headings .callout, #tab-content .contents .callout, .tab-content .headings .callout, .tab-content .contents .callout {
      font-size: 18px; }
    #tab-content .headings h3, #tab-content .contents h3, .tab-content .headings h3, .tab-content .contents h3 {
      font-size: 26px; } }

/*# sourceMappingURL=_rt.css.map */
